.ccm-block-age_verification .verify-overlay
{
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999 !important;
}

.ccm-block-age_verification .verify-centering
{
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    position: relative;
    z-index: 999999 !important;
}

.ccm-block-age_verification .verify-logo-container
{
    margin-left: auto;
    margin-right: auto;
}

.ccm-block-age_verification .verify-logo {
    display: block;
    height: auto;
    max-width: 100%;
    width: 100%;
}

.ccm-block-age_verification .verify-request-text
{
    margin-bottom: 0;
    margin-top: 30px;
    text-align: center;
}

.ccm-block-age_verification .verify-validate-text
{
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}

.ccm-block-age_verification .verify-extra-text,
.ccm-block-age_verification .verify-extra-text h1,
.ccm-block-age_verification .verify-extra-text h2,
.ccm-block-age_verification .verify-extra-text h2,
.ccm-block-age_verification .verify-extra-text h4,
.ccm-block-age_verification .verify-extra-text h5,
.ccm-block-age_verification .verify-extra-text h6,
.ccm-block-age_verification .verify-extra-text p,
.ccm-block-age_verification .verify-extra-text span
{
    line-height: 1.3 !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    word-wrap: break-word;
}

.ccm-block-age_verification .verify-extra-text a:link
{
    text-decoration: none;
}

.ccm-block-age_verification .verify-extra-text a:hover
{
    text-decoration: none;
}

.ccm-block-age_verification .verify-input-container
{
    margin: 15px auto;
    width: 282px;
}

.ccm-block-age_verification .verify-input-date-container
{
    margin-left: auto;
    margin-right: auto;
    width: 282px;
}

.ccm-block-age_verification .verify-input-submit-container
{
    margin-left: auto;
    margin-right: auto;
    width: 282px;
}

.ccm-block-age_verification .verify-input-date-container input
{
    outline: none;
}

.ccm-block-age_verification .verify-input-month,
.ccm-block-age_verification .verify-input-day,
.ccm-block-age_verification .verify-input-year
{
    background: white;
    border: none;
    box-sizing: content-box;
    color: black;
    float: left;
    font-family: inherit;
    height: 40px;
    letter-spacing: 2px;
    line-height: 40px;
    margin: 0 2px 0 0;
    padding: 0;
    text-align: center;
    width: 92px;
}

.ccm-block-age_verification .verify-input-month
{
    border-radius: 0;
    border-top-left-radius: 3px !important;
    border-bottom-left-radius: 3px !important;
}

.ccm-block-age_verification .verify-input-day
{
    border-radius: 0;
}

.ccm-block-age_verification .verify-input-year
{
    border-radius: 0;
    border-bottom-right-radius: 3px !important;
    border-top-right-radius: 3px !important;
}

.ccm-block-age_verification .verify-input-submit
{
    border-radius: 3px;
    font-family: inherit;
    height: 40px;
    line-height: 23px;
    margin-top: 10px;
    outline: none;
    text-align: center;
    width: 100%;
}

.ccm-block-age_verification .verify-checkbox-label
{
    display: block;
    text-align: center;
}

.ccm-block-age_verification .verify-checkbox
{
    margin-right: 7px !important;
}
